* {
    box-sizing: border-box;
    text-align: center;
}

html body {
    padding: 1rem;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
}

.container {
    display: grid;
    grid:
        'bruins patriots'
        'red_sox celtics';
}

#bruins {
    background: yellow;
    padding: 1rem;
    border-radius: 2rem;
    grid-area: bruins;
}

#patriots {
    background: blue;
    padding: 1rem;
    border-radius: 2rem;
    grid-area: patriots;
}

#celtics {
    background: green;
    padding: 1rem;
    border-radius: 2rem;
    grid-area: celtics;
}

#red_sox {
    background: red;
    padding: 1rem;
    border-radius: 2rem;
    grid-area: red_sox;
}


#red_sox button {
    background-color: red;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}

#bruins button {
    background-color: yellow;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}

#celtics button {
    background-color: green;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}

#patriots button {
    background-color: blue;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}

img {
    padding: 1.2em;
    height: 285px;
    width: 285px;
}

a {
    font-family: 'Righteous', cursive;
    font-size: 18px;
}

@media (max-width: 760px) {
    .container {
        display: grid;
        grid:
            'bruins'
            'patriots'
            'red_sox'
            'celtics';
    }
}